{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Provide contact details 
      </h1>

      <form class="form" action="/check-answers" method="post">
        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "What is your name??",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "users-name",
          name: "users-name"
        }) }}


        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
        {{ govukTextarea({
          name: "user-address",
          id: "user-address",
          label: {
            text: "Add your address?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "add your address here."
          }
        }) }}


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
